.launch-box {

	box-shadow: 2px -2px 2px 2px rgba(36, 32, 33, 0.5);
	background-color: rgba(36, 32, 33, 0.5);
	padding: 1%;
	color: white;
	margin-bottom: 20px;
	margin-top: 20px;
	margin-right: 20px;
	margin-left: 20px;
}

body {
  background: url('Camera.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


h1{
	font-family: Helvetica Neue Light,Helvetica Neue,Helvetica,sans-serif;
	font-weight: 250;
	font-size: 50px;
	line-height: 50px;
	color: white;
}

h2{
	font-family: Helvetica Neue Light,Helvetica Neue,Helvetica,sans-serif;
	font-weight: 250;
	font-size: 24px;
	line-height: 30px;
	color: white;
}

label{
	color: white;
	font-size: 24px;
	font-family: Helvetica Neue Light,Helvetica Neue,Helvetica,sans-serif;
	font-weight: 300;
}
